p,
ul {
    max-width: 600px;
    word-wrap: break-word;
    line-height: 1.6;
    margin: 20px auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    max-width: 600px;
    word-wrap: break-word;
    line-height: 1.4;
    margin: 20px auto;
    padding: 10px;
}
